body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1em 1em 1em;
    background-color: #f6f6ef;
}

#newspapers ul {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    list-style: none;
}

{% Headlines %}

#headlines .news-category {
    padding-top: 0.4em;
}

.headline {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.headline li {
    line-height: 1.4em;
    margin-bottom: 0.4em;
}

.headline li a {
    text-decoration: none;
}

.headline li a:link {
    color: #444;
}

.headline li a:hover {
    text-decoration: underline;
}

{% Article %}

#article #content p {
    line-height: 1.4em;
}

#article h1 {
    font-family: Times, "Times New Roman", serif;
}

#article h3 {
    font-family: Times, "Times New Roman", serif;
    line-height: 1.2em;
}

#article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
    max-width: 100%;
    width: 600px;
    height: auto;
}

#content {
    font-family: Times, "Times New Roman", serif;
}