body {
    font-family: Times, "Times New Roman", serif;
    font-size: 1.1em;
}

.center-container {
    margin: auto;
    width: 100%;
    max-width: 768px;
    padding: 10px;
    background-color: #f6f6ef;
}

#newspapers {
    text-align: center;
    margin-bottom: 1em;
}

{% Headlines %}

#headlines h1 {
    text-align: center;
}

#headlines h2 {
    padding-top: 0.4em;
}

#headlines ul li {
    line-height: 1.4em;
}

ul.headline {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

ul.headline li a {
    text-decoration: none;
}

ul.headline li a:link {
    color: #444;
}

{% Article %}

#article #content p {
    line-height: 1.4em;
}

#article h3 {
    line-height: 1.2em;
}

#article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
