<!DOCTYPE html>
<html>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <body>
        <div id="article" class="center-container">
            {% include "newspaper_bar.html" %}
            <div>
                <a href="{{article.url}}" target="_blank">Original on {{newspaper.name}}</a> ↗️
            </div>
            <h1>{{article.title}}</h1>
            <h3>{{article.summary}}</h3>
            {% if article.img %}
            <img src="{{article.img}}"/>
            {% endif %}
            <div id="content">
            {% for p in article.paragraphs %}
                <p>{{p}}</p>
            {% endfor %}

            </div>
        </div>
    </body>
</html>